header {
    background-color: #99badd;
   
}

.site-title {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    padding-left: 1em;
    padding-bottom: .75em;
    text-align: center !important;
    
}

.navbar, navbar-light, bg-light {
    background-color: #99badd !important;
    display: flex;
    align-items: center;
   
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    color: white !important;
}
.nav-item {
    padding: 0 1em 0 1em;
}

.navbar-light .navbar-nav .nav-link  {
    color: white;
}

.nav-link {
    color: white;
}

#white {
    color: white;
}

#active{
    color: #57752B ;
}

a.nav-link:hover {
    color: #57752B !important;
}
a.nav-link:active {
    color: #57752B !important;
}


img {
    width: 100%;
    height: auto;
    padding-top: 2em;
}
.row {
    display: flex;
    align-items: center;
    background-color: #CADCEB;
    padding-bottom: 2em;
}

.card {
    margin-bottom: .25em;
    
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Roboto', sans-serif;
   
}

.card-deck {
    margin: 0 1em 2em 1em;
    
}
.first {
    padding-right: 3em;
    padding-left: 2em;
}

footer {
    background: #99badd;
}

h2 {
    color: #57752B;
    padding-top: 1em;
     font-family: 'Montserrat', sans-serif;
}

#prac {
    padding: 2em 2em 2em 2em;
}

#second {
    padding: 0 1em 2em 1em;
}


