header {
    background-color: #99badd;
   
}

.site-title {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    padding-left: 1em;
    padding-bottom: .75em;
    text-align: center !important;
    
}

.navbar, navbar-light, bg-light {
    background-color: #99badd !important;
    display: flex;
    align-items: center;
   
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    color: white !important;
}
.nav-item {
    padding: 0 1em 0 1em;
}

.navbar-light .navbar-nav .nav-link  {
    color: white;
}
.nav-link {
    color: white;
}

#active{
    color: #57752B ;
}

a.nav-link:hover {
    color: #57752B !important;
}
a.nav-link:active {
    color: #57752B !important;
}


img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}
.row {
    display: flex;
    align-items: center;
    background-color: #CADCEB;
}

.card {
    display: flex;
}

.schedule {
    margin: 20px auto;
    max-width: 300px;
    
}

h4 {
    font-family: 'Montserrat', sans-serif;
    align-content: center;
}

p {
    font-family: 'Roboto', sans-serif;
}

#main {
    color: #57752B;
}
.card-deck {
    margin: 0 1em 2em 1em;
    
}

#second {
    padding: 0;
}

.sched {
    color: #57752B !important;
    padding: 0;
}

footer {
    background: #99badd;
    
}
