header {
    background-color: #99badd;
   
}

.site-title {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    padding-left: 1em;
    padding-bottom: .75em;
    text-align: center !important;
    
}

.navbar, navbar-light, bg-light {
    background-color: #99badd !important;
    display: flex;
    align-items: center;
   
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    color: white !important;
}
.nav-item {
    padding: 0 1em 0 1em;
}

.navbar-light .navbar-nav .nav-link  {
    color: white;
}

.nav-link {
    color: white;
}

#white {
    color: white;
}
#active{
    color: #57752B ;
}

a.nav-link:hover {
    color: #57752B !important;
}
a.nav-link:active {
    color: #57752B !important;
}

.card-title {
    background-color: #99badd;
    color: white;
}
.card-text {
    background: #CADCEB;
}

.card-body {
    background-color: #CADCEB;
    border:2px solid white;
}

h2 {
    background-color: #CADCEB;
    color:#57752B;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif ;
}

img {
    max-height: 110px;
    max-width: 110px;
    align-content: center;
}
footer {
    background: #99badd;
    
}